* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif !important;
    /* background-color: var(--color-grey) !important; */

}

:root {
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-grey: hsl(0, 0%, 50%);
    --color-black: hsl(0, 0%, 7%);
    --color-starbucks: #00704a;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none !important;
}

input {
    display: none;
}

/* start-scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #000;
}

/* end-scrollbar */

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(250px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
}

.task-day ul::before {
    content: "";
    position: absolute;
    left: 9px;
    width: 2px;
    height: 100%;
    background-color: dodgerblue;
}

.task-day ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #fff;
    outline: 2px solid dodgerblue;
    margin-right: 15px;
    z-index: 1;
}

.task-day ul .done::before {
    background-color: dodgerblue;
}

/* start-reminds */
.reminds .key {
    width: 15px;
    height: 15px;
    background-color: dodgerblue;
}

.reminds .list {
    font-size: 15px;
}

.reminds .date {
    font-size: 13px;
}

.reminds .blue {
    border-left: 3px solid dodgerblue;
}

/* end-reminds */

/* start-header-again */
.header {
    background-color: #fff;
    box-shadow: 0 0 5px #DDD;
}

.header h2 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}

.header ul {
    display: flex;
}

.header ul li a {
    padding: 18px 25px;
    display: block;
    color: #000;
    transition: 0.4s;
}

.header ul li .style-header:hover {
    background-color: #000;
    color: #fff;
}

.header i {
    display: none;
}

@media (max-width: 767px) {
    .header i {
        display: block;
    }

    .header .logo {
        padding: 10px 0;
    }

    .header ul {
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
        display: block !important;
        background-color: #eeeeee59;
        opacity: 0;
        transition: 0.4s;
        z-index: 2;
    }

    #check-fash:checked+.group-fashion ul {
        top: calc(53px - 2px);
        opacity: 1;
    }
}

/* end-header-again */
/* start-section */
.section {
    width: 100%;
    height: 70vh;
    background-image: url("../assets/images/dami-adebayo-k6aQzmIbR1s-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-color: hsla(234, 56%, 4%, 0.897);
    background-blend-mode: luminosity;
}

.section h2 {
    text-shadow: 0 0 10px #000;
}

.section .icon {
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%);
}

.section .icon i {
    color: #000;
    font-size: 25px;
    mix-blend-mode: difference;
    animation: change-color 0.7s infinite linear alternate;
}

@media (max-width: 767px) {
    .section h2 {
        font-size: 16px;
    }
}

/* end-section */
/* start-about-us */
.about-us h2 {
    letter-spacing: 2px;
}

.about-us .box {
    border-radius: 6px;
    box-shadow: 0 0 10px #0000002e;
}

.about-us .steps {
    box-shadow: 0 0 10px #0000002e;
}

.about-us ul::before {
    content: "";
    position: absolute;
    left: 17px;
    width: 2px;
    height: 90%;
    background-color: #000;
}

.steps ul li:not(:last-of-type) {
    margin-bottom: 110px;
}

.about-us .steps ul li i {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
    outline: 2px solid #000;
    display: grid;
    place-items: center;
    margin-right: 18px;
    z-index: 1;
}

.about-us .steps ul li .ink-pen {
    padding: 0 7px;
}

.steps ul li .info span {
    font-size: 17px;
}

.steps ul li .info span:last-of-type {
    font-size: 13px;
}

/* end-about-us */
/* start-style-gallery */
.gallery-style h2 {
    letter-spacing: 2px;
}

.gallery-style .style {
    border: 1px solid #0000001c;
    overflow: hidden;
}

.style::before {
    content: attr(data-style);
    position: absolute;
    width: calc(100% - 17px);
    height: calc(100% - 17px);
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 30px;
    background-color: rgb(0 0 0 / 40%);
    transform: translateX(calc(-100% - 10px));
    border-radius: 8px;
    transition: 0.4s;
}

.style:hover::before {
    transform: translateX(0);
}

/* end-style-gallery */
/* start-categories */
.category h2 {
    letter-spacing: 2px;
}

.category .cate {
    box-shadow: 0 0 10px #0000002e;
}

.category .cate img {
    width: 60px;
    height: 60px;
}

/* end-categories */
/* start video */
.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    background-color: rgb(0 0 0 / 40%);
}

.video video {
    width: 70%;
    border-radius: 12px;
}

.video .title-video {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 50px;
    text-align: center;
}

.title-video h2 {
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.title-video p {
    font-size: 15px;
    margin-bottom: 20px;
}

.title-video a {
    border: 1px solid #fff;
    padding: 10px 25px;
}

/* end video */
/* start-testimonals */
.testimonals .testimo {
    border: 1px solid rgb(0 0 0 / 25%);
}

.testimonals .testimo img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
}

/* end-testimonals */
/* start compnies */
.companies h2 {
    margin-bottom: 5rem;
}

.companies img {
    width: 200px;
    opacity: .3;
}

/* end compnies */
/* start contact */
.contact-us {
    background-color: #aaaaaa1c;
}

.contact-us textarea {
    resize: none;
    height: 200px;
    border: none;
    outline: none;
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 6px;
}

.contact-us textarea[placeholder="type here ..."]::placeholder {
    transition: .4s;
}

.contact-us textarea[placeholder="type here ..."]:focus::placeholder {
    opacity: 0;
}

.contact-us textarea:focus {
    color: #191919;
}

.contact-us span {
    padding: 15px 20px;
    border-radius: 5px;
    width: fit-content;
}

.inside-area {
    width: 0;
    height: 15px;
    border-radius: 30px;
    background-color: #252525;
    transition: 0.5s;
}

/* end contact */
/* start footer */
.footer {
    padding: 20px 0;
    background-color: #000;
}

.footer h2 {
    font-size: 21px;
    letter-spacing: 2px;
    font-weight: bold;
}

.social-f i {
    font-size: 19px;
}

.social-f i:not(:last-of-type) {
    margin-right: 20px;

}

/* end footer */
/* start-login */
.login {
    display: flex;
}

@media (max-width: 767px) {
    .login {
        flex-direction: column;
    }
}

.login .img-login,
.login .txt-login {
    width: 50%;
    height: 100vh;
}

@media (max-width: 767px) {

    .login .img-login,
    .login .txt-login {
        width: 100%;
        height: 70vh;
    }
}

.login .img-login .fashimg-login {
    background-image: url("../assets/images/dami-adebayo-k6aQzmIbR1s-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.fashimg-login::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 95%);
}

.fashimg-login h1 {
    position: absolute;
    z-index: 3;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 80px;
}

.txt-login h2 {
    color: #232323;
}

.txt-login ul li a {
    width: 300px;
    border: 2px solid #EEE;
    padding: 10px 0;
    border-radius: 3px;
    position: relative;
}

.txt-login ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: 0.3s;
    z-index: -1;
}

.txt-login ul li a:hover::before {
    height: 100%;
}

.txt-login ul li .go::before {
    background-color: #dd4b39;
}

.txt-login ul li .face::before {
    background-color: #1877f2;
}

.txt-login ul li .insta::before {
    background-color: #000;
}

.txt-login ul li:not(:last-of-type) {
    margin-bottom: 10px;
}

.txt-login ul li a i {
    font-size: 17px;
    margin-right: 10px;
    transition: 0.3s;
}

.txt-login ul li a:hover i {
    color: #fff !important;
}

.txt-login ul li a span {
    font-size: 14px;
    transition: 0.3s;
}

.txt-login ul li a:hover span {
    color: #fff !important;
}

.txt-login ul li a .google {
    color: #dd4b39;
}

.txt-login ul li a .facebook {
    color: #1877f2;
}

.txt-login ul li a .instagram {
    color: #000;
}

.txt-login .promotion {
    width: 300px;
}

.txt-login .promotion label {
    color: #1c1c1c9e;
    font-size: 13px;
    padding-left: 30px;
    position: relative;
}

.txt-login .promotion label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 2px solid #DDD;
    border-radius: 3px;
}

.txt-login .promotion label::after {
    content: "\f00c";
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    top: 0;
    left: 0;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    background-color: #1877f2;
    display: grid;
    place-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
}

#check-login:checked+label::after {
    transform: scale(1);
}

/* end-login */
/* start-animation */
@keyframes change-color {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(30px);
    }
}

/* end-animation */

button {
    position: fixed;
    bottom: 50px;
    right: 40px;
    width: 50px;
    height: 50px;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #191919;
    box-shadow: 0 0 10px #00000029;
    font-weight: bold;
    color: #fff;
    font-size: 14px !important;
    border-radius: 50% !important;
    transition: 0.4s;
    display: none;
}